.navbar {
	width: 80%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.nav_container{
	border-bottom: 2px solid #c9ae11;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}
.logout_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	color: #1b1b94;
	font-family: "Fredoka", serif;
	font-size: 20px;
	font-weight: 600;
	/* margin-left: -80%; */
}

.Versa_logo{
	margin-top: -5px;
	height: 60px;
	/* margin-left: 10%; */
}

.div_a a{
    text-decoration: none;
    padding: 20px;
	font-size: 18px;
	font-weight: 600;
	color: rgb(27, 27, 148) ;
}

.div_a a:hover, .navbar h1:hover{
    color:#c9ae11;
}

.logout_btn:hover{
	color: #a10000;
}
.main{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}